body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

.landing {
  height: 100vh;
  background: linear-gradient(135deg, #e6ccff, #f3e6ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-box {
  text-align: center;
}

h1 {
  color: #5e2b97;
  font-size: 28px;
  margin-bottom: 20px;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background-color: #a64dff;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #7a1fd1;
}
