body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

.landing {
  height: 100vh;
  background: linear-gradient(135deg, #e6ccff, #f3e6ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-box {
  text-align: center;
}

h1 {
  color: #5e2b97;
  font-size: 28px;
  margin-bottom: 20px;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background-color: #a64dff;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #7a1fd1;
}
.month-page {
  background: linear-gradient(135deg, #f3e6ff, #e6ccff);
  text-align: center;
  padding: 40px 20px;
}

.content {
  max-width: 800px;
  margin: auto;
}

.memory-img {
  width: 250px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.memory-img:hover {
  transform: scale(1.05);
}

.hint {
  color: #7a1fd1;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  max-width: 400px;
  margin: 150px auto;
}
